body {
    background-color: whitesmoke;
    /*background-image: linear-gradient(to bottom, #ff00ff, #ffff00, #00ffff);
    background-repeat: no-repeat;*/
    font-family: "Times New Roman";
}

a {
    color: black;
    font-family:'Times New Roman', Times, serif
}

h1 {
    font-size: 40pt;
    font-variant: small-caps;
}

.code {
    font-family: "Courier New", monospace;
}
.jurypost {
    padding: 10px; 
    border: 2px solid rgb(0, 0, 0); 
    margin: 5%;
}

button {
    color: white;
    padding: 15px 32px;
    /* background-color: magenta; */
    text-align: center;
    font-size: 18pt;
    border: none;
}
.yesbtn {
    background-color: red;
}
.nobtn {
    background-color: #00ff00;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.corner_left {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-10%, -10%);
    transform: translate(-0%, -0%);
}