body {
    background-color: whitesmoke;
    /*background-image: linear-gradient(to bottom, #ff00ff, #ffff00, #00ffff);
    background-repeat: no-repeat;*/
    font-family: "Times New Roman";
}

p{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


button>a {
    color: white;
    font-family:'Times New Roman', Times, serif
}

h1 {
    font-size: 40pt;
    font-variant: small-caps;
}


.code {
    font-family: "Courier New", monospace;
}
.jurypost {
    /* padding: 1%;  */
    border: 2px solid rgb(0, 0, 0); 
    margin: 5%;
    width: 50%;
    margin-left: 25%;
}

button {
    padding: 15px 32px;
    background-color: #000;
    text-align: center;
    font-size: 18pt;
    border: none;
    border-radius: 4px;

}
.yesbtn {
    background-color: green;
}
.nobtn {
    background-color: red;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#teammate {
    text-align: center;

}

iframe{
    margin: 5%;
}

#center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

